body {
    border-top: 0.5rem solid #6895C9;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    @media (min-width: 1024px) {
        border: none;
        align-items: start;
        max-width: 1024px;
        margin: 0 auto;
        height: 100vh;
    }
}

h1 {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    color: #427ABB;
    margin: 1.5rem 0 1rem 0;

    @media (min-width: 1024px) {
        font-size: 2.5rem;
        margin-bottom: 0;
    }       
}

#utility-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media (min-width: 1024px) {
        display: flex;
        flex-direction: row;
        align-items: end;
    }  
}

#utility-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    font-family: Nunito;
    font-size: 0.813rem;
    font-weight: 600;
    line-height: normal;

    @media (min-width: 1024px) {
        justify-content: end;
    }       
}

#utility-bar #viewing {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;

    @media (min-width: 1024px) {
        display: none;
    }       
}

#utility-bar #sort {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#middle {
    height: 100%;
    width: 100%;
    margin: 0.5rem 0 0 0;
    
    @media (min-width: 1024px) {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}

#sidebar {
    min-width: 240px;
    background-color: #6895C9;
    border-top-left-radius: 0.25rem;
    border-top-right-radius:  0.25rem;
    display: none;

    padding: 1.5rem 1rem;

    @media (min-width: 1024px) {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }       
}

#sidebar hr {
    width: 100%;
    opacity: 0.2;
}

#sidebar ul {
    padding: 0;
    margin: 0;
}

#sidebar ul li {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    list-style: none;
    color: #FFF;
    font-family: Nunito;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: normal;
    margin: 0.375rem 0;
}

#sidebar .inboxes #inbox-everything::before {
    content:url('../icons/sidebar-everything.svg');
    align-self: center;
    height: 16px;
    width: 16px;
}

#sidebar .inboxes #inbox-today::before {
    content:url('../icons/sidebar-today.svg');
    align-self: center;
    height: 16px;
    width: 16px;
}

#sidebar .inboxes #inbox-priority::before {
    content:url('../icons/sidebar-priority.svg');
    align-self: center;
    height: 16px;
    width: 16px;
}

#sidebar ul li button {
    display:block;
    border: 0;
    background: none;
    color: #FFF;
    margin: 0;
    padding: 0;
    line-height: normal;
    cursor: pointer;
}

#sidebar #projects-list li.proj::before {
    content:url('../icons/project.svg');
    align-self: center;
    height: 16px;
    width: 16px;
}

#sidebar #projects-list a {
    text-decoration: none;
}

#sidebar #projects-list a:hover {
    font-weight: 800;
}

#sidebar ul li.current button{
    font-weight: 800;
}

/* Button for add project */
#sidebar #add-project {
    align-self: flex-start;
    border-radius: 0.25rem;
    border: 0;
    background: #427ABB;
    color: #FFF;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0 0 0;
    cursor: pointer;

    font-family: Nunito;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: normal;
}

#mainbar {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media (min-width: 1024px) {
        align-items: end;
    }       
}

#todo-list {
    width: 100%;
    padding: 0;
    margin: 0;
}

.todo-item {
    display: flex;
    flex-direction: row;
    align-items: start;

    background-color: #E5EDF6;
    width: 100%;
    border-radius: 0.25rem;
    padding: 0.75rem 1rem;
    margin-bottom: 0.5rem;

    color: #30232C;
}

.todo-item .checkbox {
    content:url('../icons/checkbox.svg');
    opacity: 0.5;
    margin: 0.1875rem 0.75rem 0 0;
}

.todo-item .priority.high{
    content:url('../icons/priority-high.svg');
    align-self: center;
    width: 1rem;
    height: 1rem;
}

.todo-item .priority.max{
    content:url('../icons/priority-max.svg');
    align-self: center;
    width: 1rem;
    height: 1rem;
}

.todo-item .text-items {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.todo-item .text-items .description {
    font-family: Nunito;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: normal;
}

.todo-item .text-items .second-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.125rem;
}

.todo-item .text-items .due-date {
    font-family: Nunito;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: normal;
}

.todo-item button {
    border: 0;
    background: none;
    align-self: center;
}

#mainbar #add-todo {
    width: 100%;
    border-radius: 0.25rem;
    border: 0;
    background: #427ABB;
    color: #FFF;
    padding: 0.813rem 0;
    margin: 0.5rem 0 0 0;
    cursor: pointer;

    font-family: Nunito;
    font-size: 0.9375rem;
    font-weight: 700;
    line-height: normal;

    @media (min-width: 1024px) {
        width: auto;
        padding: 0.813rem 4rem;
    }       
}

/**** Create TODO and Create Project modals ****/

#modal-scrim {
    display:block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

#modal-scrim.show {
    opacity: 1;
}

.modal-create {
    position: fixed;
    background-color: #FFF;
    z-index: 1000;
    padding: 2rem;
    display:flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
    opacity: 0;

    @media (min-width: 1024px) {
        width: 375px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 0.5rem;
    }
}

#modal-create-todo, #modal-create-project {
    visibility: hidden;
    opacity: 0;
    bottom: -100%;
    transition: opacity 0.2s ease-in-out, bottom 0.3s ease-in-out;

    @media (min-width: 1024px) {
        bottom: auto;
    }
}

#modal-create-todo.show, #modal-create-project.show {
    bottom: 0;
    opacity: 1;

    @media (min-width: 1024px) {
        bottom: auto;
    }
}

.modal-create h2 {
    font-family: Nunito;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -0.015rem;
    margin: 0;
}

.modal-create .field label {
    color: #30232C;
    font-family: Nunito;
    font-size: 0.75rem;
    font-weight: 500;
}

.modal-create .field select {
    -webkit-appearance: none;
    appearance: none;
    background-image: url('../icons/dropdown.svg'), -webkit-linear-gradient(top, #fff, #fff);
    background-position: center right;
    background-position-x: calc(100% - 10px);
    background-repeat: no-repeat;

    color: #30232C;
    font-family: Nunito;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0.563rem 0.563rem;
    border-radius: 2px;
}

.modal-create .field input {
    color: #30232C;
    font-family: Nunito;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0.5rem 0.5rem;
}

.modal-create .field {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.modal-create .field-priority {
    gap: 0;
    color: #30232C;
    font-family: Nunito;
    font-size: 0.75rem;
    font-weight: 500;
}

.modal-create .field-radio label {
    line-height: 120%;
    font-size: 0.875rem;
}

/*** Error related styles for fields ***/

.modal-create .field .error {
    color: #DB5A4E;
    font-family: Nunito;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0.125rem 0;
    display:none;
}

.modal-create .field.error label, .modal-create .field.error .error  {
    color: #DB5A4E;
    display: block;
}

.modal-create .field.error input {
    border: 1px solid #DB5A4E;
}

/*** ***/

.modal-create .button-add {
    width: 100%;
    border-radius: 0.25rem;
    border: 0;
    background: #427ABB;
    color: #FFF;
    padding: 0.813rem 0;
    margin: 0.5rem 0 0 0;
    cursor: pointer;

    font-family: Nunito;
    font-size: 0.9375rem;
    font-weight: 700;
    line-height: normal;

    @media (min-width: 1024px) {
        width: auto;
        padding: 0.813rem 4rem;
    }       
}

.button-close {
    position: absolute;
    top: 0.875rem;
    right: 0.875rem;
    background: none;
    border: none;
    color: #30232C;
    font-size: 1.5rem;
    cursor: pointer;
    width:24px;
    height:24px;
}