body {
    border-top: 0.5rem solid #699AC1;
    display: flex;
    flex-direction: column;
    align-items: center;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    color: #427ABB;
    margin: 2rem 0 1rem 0;
}

#utility-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 0 1rem;

    font-family: Nunito;
    font-size: 0.813rem;
    font-weight: 600;
    line-height: normal;
}

#utility-bar #viewing {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
}

#utility-bar #sort {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.todo-list {
    width: 100%;
    padding: 0 1rem;
    margin: 0.5rem 0;
}

.todo-item {
    display: flex;
    flex-direction: row;
    align-items: start;

    background-color: #E5EDF6;
    width: 100%;
    border-radius: 0.25rem;
    padding: 0.75rem 1rem;

    color: #30232C;
}

.todo-item .checkbox {
    content:url('checkbox.svg');
    opacity: 0.5;
    margin: 0.1875rem 0.75rem 0 0;
}

.todo-item .priority.high{
    content:url('priority-high.svg');
    align-self: center;
}

.todo-item .priority.max{
    content:url('priority-max.svg');
    align-self: center;
}

.todo-item .text-items {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.todo-item .text-items .description {
    font-family: Nunito;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: normal;
}

.todo-item .text-items .due-date {
    font-family: Nunito;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: normal;
}

#utility-footer {
    width: 100%;
    padding: 0 1rem;
    margin: 0.5rem 0 0 0;
}

#utility-footer #add-todo {
    width: 100%;
    border-radius: 0.25rem;
    border: 0;
    background: #427ABB;
    color: #FFF;
    padding: 0.813rem 0;

    font-family: Nunito;
    font-size: 0.9375rem;
    font-weight: 700;
    line-height: normal;
}
