body {
    border-top: 0.5rem solid #6895C9;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    @media (min-width: 1024px) {
        border: none;
        align-items: start;
        max-width: 1024px;
        margin: 0 auto;
        height: 100vh;
    }
}

h1 {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    color: #427ABB;
    margin: 1.5rem 0 1rem 0;

    @media (min-width: 1024px) {
        font-size: 2.5rem;
        margin-bottom: 0;
    }       
}

#utility-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media (min-width: 1024px) {
        display: flex;
        flex-direction: row;
        align-items: end;
    }  
}

#utility-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    font-family: Nunito;
    font-size: 0.813rem;
    font-weight: 600;
    line-height: normal;

    @media (min-width: 1024px) {
        justify-content: end;
    }       
}

#utility-bar #viewing {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;

    @media (min-width: 1024px) {
        display: none;
    }       
}

#utility-bar #sort {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#middle {
    height: 100%;
    width: 100%;
    margin: 0.5rem 0 0 0;
    
    @media (min-width: 1024px) {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}

#sidebar {
    min-width: 240px;
    background-color: #6895C9;
    border-top-left-radius: 0.25rem;
    border-top-right-radius:  0.25rem;
    display: none;

    padding: 1.5rem 1rem;

    @media (min-width: 1024px) {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }       
}

#sidebar hr {
    width: 100%;
    opacity: 0.2;
}

#sidebar ul {
    padding: 0;
    margin: 0;
}

#sidebar ul li {
    list-style: none;
    color: #FFF;
    font-family: Nunito;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: normal;
    margin: 0.275rem 0;
}

#sidebar ul li.current{
    font-weight: 700;
}

#mainbar {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media (min-width: 1024px) {
        align-items: end;
    }       
}

.todo-list {
    width: 100%;
    padding: 0;
    margin: 0;
}

.todo-item {
    display: flex;
    flex-direction: row;
    align-items: start;

    background-color: #E5EDF6;
    width: 100%;
    border-radius: 0.25rem;
    padding: 0.75rem 1rem;

    color: #30232C;
}

.todo-item .checkbox {
    content:url('checkbox.svg');
    opacity: 0.5;
    margin: 0.1875rem 0.75rem 0 0;
}

.todo-item .priority.high{
    content:url('priority-high.svg');
    align-self: center;
}

.todo-item .priority.max{
    content:url('priority-max.svg');
    align-self: center;
}

.todo-item .text-items {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.todo-item .text-items .description {
    font-family: Nunito;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: normal;
}

.todo-item .text-items .due-date {
    font-family: Nunito;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: normal;
}

#mainbar #add-todo {
    width: 100%;
    border-radius: 0.25rem;
    border: 0;
    background: #427ABB;
    color: #FFF;
    padding: 0.813rem 0;
    margin: 0.5rem 0 0 0;

    font-family: Nunito;
    font-size: 0.9375rem;
    font-weight: 700;
    line-height: normal;

    @media (min-width: 1024px) {
        width: auto;
        padding: 0.813rem 4rem;
    }       
}
